<%# <script src="https://js.stripe.com/v3/"></script> %>

<div class="container">
  <div class="col-md-3">
    La commande n°<%= @order.id %> est <%= @order.status.name %>
  </div>
  <div>Montant de la commande : <%= @order.amount %></div>
  <div>
   Client : <%= @order.user.email %>
  </div>
</div>
